{# src/INRIA/DylissBundle/Resources/views/layout.html.twig #}

{% extends "::InriaMainLayout.html.twig" %}

{% block body %}

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block inriadyliss_body %}
  {% endblock %}

{% endblock %}