{% trans_default_domain 'FOSUserBundle' %}

<h2>Edit account settings</h2>

<div class="row">
    <div class="col-sm-4"><!--well well-sm-->

        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 
        'class': 'fos_user_profile_edit',
        'role': 'form'} }) }}
        
            {{ form_errors(form) }}
            
            <div class="form-group">
                {{ form_errors(form.username) }}
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_errors(form.current_password) }}
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            {{ form_rest(form) }}
            
            <input class="btn btn-danger" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        
        {{ form_end(form) }}
    </div>
</div>