{% trans_default_domain 'FOSUserBundle' %}

<h2>View account settings</h2>

<div class="row">
    <div class="col-sm-4"><!--well well-sm-->
        <span class="text-bold">{{ 'profile.show.username'|trans }} : </span>{{ user.username }}<br>
        <span class="text-bold">{{ 'profile.show.email'|trans }} : </span>{{ user.email }}<br>
        <br>
        <a class="btn btn-danger" href="{{ path('fos_user_profile_edit') }}">Edit settings</a>
        <a class="btn btn-danger" href="{{ path('fos_user_change_password') }}">Change password</a>
    </div>
</div>