{% extends "INRIAUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<h2>Login</h2>

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4 well well-sm">
        <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" name="_password" required="required" />
            </div>
            <div class="checkbox">
                <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}</label>
            </div>
            <input type="submit" id="_submit" class="btn btn-default" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</div>

{% endblock fos_user_content %}
