{# src/INRIA/UserBundle/Resources/views/layout.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<h2>Registration</h2>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4 well well-sm">

        {{ form_start(form, { 'action': path('fos_user_registration_register'), 'attr': { 
        'class': 'fos_user_registration_register',
        'role': 'form'} }) }}
        
            {{ form_errors(form) }}
            
            <div class="form-group">
                {{ form_errors(form.email) }}
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_errors(form.username) }}
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            <div class="form-group">
                {{ form_errors(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
            
            {{ form_rest(form) }}
            
            <input class="btn btn-danger" type="submit" value="{{ 'registration.submit'|trans }}" />
        
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}