#content {
    min-height: 500px;
}

.text-bold {

    font-weight: bold;
    /*word-wrapoverflow-wrap : break-word;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

/* Avoid overflow of data in columns in results pages */
.table tbody tr td {
    /* 33% of parent (4/12) cf bootstrap class: col-sm-4 */
    max-width: 389.667px;
    word-wrap: break-word;
}

/* color the masks in result tabs */
.score_ok {
    color: green;
    font-weight: bold;
}
.score_deactivated {
    color: rgb(200,200,200);
}


/* Hide redondant sucessive ids in results
 ps: bootstrap has the classes hidden and hide (alias for hidden)
 but hidden has the directive display: none; Whereas we want to keep
 the space taken by the block */
.invisible {
    visibility: hidden;
}

/* Used to display jquery icons on tabs, column action */
.action-button {
    display: inline-block;
    vertical-align: middle;
}


/* Footer */
/* Logo standardization in footer */
.logo {
    height: 60px;
}

/* Set black background color, white text and some padding */
footer {
    /*background-color: #555;*/
    color: white;
    padding: 15px;
}


/* Little padding under all sub titles */
h2 {
    padding-bottom: 20px;
}

/* Shortcut to the top of the results page */
#toTop {
    position: fixed;
    bottom: 95px;
    right: 5px;
    cursor: pointer;
    z-index: 10;
    display: block;
}
#toTop .fa {
    margin-right: 5px;
}

/* Validation errors in forms */
form ul{
    color: red;
}


/* Dashboard */
.panel-control {
    display: inline-block;
}

/* Left align correction for panel-control content */
.panel-control .form-group {
    padding-left: 20px;
}

.form-group .btn-default {
    width: 225px;
    margin-bottom: 3px;
}

.radio_btn {
    margin-bottom: 10px;
    vertical-align: bottom;
}

/* Fix textarea limits */
.form-group textarea {
    max-width: 100%;
    min-width: 100%;
}

/* Fix Symfony (1 more time...): labels position in checkbox subform */
.experiment_form .checkbox label {
    padding-left: 5px;
    padding-right: 20px;

    vertical-align: bottom;
}
.experiment_form .checkbox input {
    vertical-align: middle;
}

/* Chart in Result's page */
#mini_pie {
    display: inline-block;
    height: 70px;
}
#mini_stats {
    font-size: 0.8em;
    padding-left: 20px;
}

/* Help page : schemas */
.schema {
    width: 500px;
    display: block;
    margin: auto;
}

/* Help page : paragraphs */
.help_content {
    margin-left: 25px;
    margin-right: 25px;
}
.help_content h3 {
    padding-top: 20px;
}
.help_content h4 {
    padding-top: 15px;
}

/* If the screen has a width greater than 1850px */
@media screen and (min-width: 1850px) {
    #dashboard {
        width: 300px;

        position: fixed;
        left: 30px;
        top: 50px;
        z-index: 10;
    }

    .form-group textarea {
        max-height: 80px;
    }

    #toTop{
        right: 60px;
    }
}


/*
#results {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#results thead {
  cursor: pointer;
  background: #c9dff0;
}
#results thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#results thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#results thead tr th.headerSortUp, #results thead tr th.headerSortDown {
  background: #acc8dd;
}

#results thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
  width: 20px;
  height: 20px;
  background-color: red;
}
#results thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}


#results tbody tr {
  color: #555;
}
#results tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#results tbody tr td.lalign {
  text-align: left;
}
*/