{% trans_default_domain 'FOSUserBundle' %}

<h2>Change password</h2>

<div class="row">
    <div class="col-sm-4"><!--well well-sm-->
    
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 
        'class': 'fos_user_change_password',
        'role': 'form'} }) }}
        
        {{ form_errors(form) }}
        
        <div class="form-group">
            {{ form_errors(form.current_password) }}
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            {{ form_errors(form.plainPassword.first) }}
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            {{ form_errors(form.plainPassword.second) }}
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        {{ form_rest(form) }}
        
        {# workaround translation #}
        <input class="btn btn-danger" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        
    {{ form_end(form) }}
    </div>
</div>