{# src/INRIA/DylissBudle/Resources/view/Home/index.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Welcome !
{% endblock %}

{% block inriadyliss_body %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# Authenticated user #}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    {% else %}
    {# New user #}

    {% endif %}

{% endblock %}