{# src/INRIA/DylissBudle/Resources/view/Experiment/add.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Create a study
{% endblock %}

{% block inriadyliss_body %}
    {% if is_granted('ROLE_USER') %}

        <h2>Create a study</h2>

        <div class="row">
            <div class="col-sm-6 experiment_form"><!--well well-sm-->

                {{ form_start(form, { 'action': path('inria_dyliss_create_exp') }) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_errors(form.src_file) }}
                        {{ form_label(form.src_file) }}
                        {{ form_widget(form.src_file, {'attr': {'class': ''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.dst_file) }}
                        {{ form_label(form.dst_file) }}
                        {{ form_widget(form.dst_file, {'attr': {'class': ''}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.src_origin) }}
                        {{ form_label(form.src_origin) }}
                        {{ form_widget(form.src_origin, {'attr': {'class': 'checkbox'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.dst_origin) }}
                        {{ form_label(form.dst_origin) }}
                        {{ form_widget(form.dst_origin, {'attr': {'class': 'checkbox'}}) }}
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}

                    {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>

            <div class="col-sm-6">
                <h3>Help</h3>

                {{ include("INRIADylissBundle:Help:create_study.html.twig") }}

            </div>
        </div>

    {% else %}
        <div class="alert alert-danger">
            <p>You must be registered as a {{ project_name }} user to use this tool. Please register or <a href="{ path('fos_user_security_login')  }}">login</a>.

            If you want to have more information about this tool, please see the <a href="{{ path('inria_dyliss_help') }}">help section</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}