{# src/INRIA/DylissBudle/Resources/view/Experiment/index.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Studies
{% endblock %}

{% block inriadyliss_body %}
	{% if is_granted('ROLE_USER') %}

        <h2>Studies</h2>

        <table class="table table-striped panel panel-primary">

            <thead class="panel-heading">
                <tr class="text-bold">
                    <td class="col-sm-2 text-center">Date</td>
                    <td class="col-sm-4 text-center">File(s) &amp; md5 checksum(s)</td>
                    <td class="col-sm-5 text-center">Actions</td>
                </tr>
            </thead>

            <tbody class="panel-body">
                {% for experiment in experiments %}

                <tr>
                    <td>
                        {{ experiment.date|date('d/m/Y - H:m:s') }}
                    </td>
                    <td>
                        <span class="text-bold">Source file:</span> {{ experiment.src_file.real_name }} - {{ experiment.src_file.md5_checksum }}

                        {% if experiment.dst_file.real_name is defined %}
                            <br>
                            <span class="text-bold">Mapping file:</span> {{ experiment.dst_file.real_name }}
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('inria_dyliss_view_result', { 'exp_id': experiment.id }) }}" class="btn btn-primary" role="button">
                        View results</a>
                        {# The Modify button is deactivated if the user is and admin and if the experiment have the id 0 #}
                        {# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
                        {% if not is_granted('ROLE_ADMIN') or (experiment.id != 0) %}
                        <a href="{{ path('inria_dyliss_modify_exp', { 'exp_id': experiment.id }) }}" class="btn btn-primary" role="button">
                        Modify</a>
                        {% endif %}

                        {# The Download button is deactivated if the user is and admin and if the experiment have the id 0 #}
                        {# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
                        {% if not is_granted('ROLE_ADMIN') or (experiment.id != 0) %}
                        <a href="{{ path('inria_dyliss_getdatatab') }}/{{ experiment.id }}_matched/sbml" class="btn btn-primary" role="button" download="{{ experiment.id }}.sbml" title="Download SBML">
                        Download SBML
                        </a>
                        {% endif %}

                        <a href="{{ path('inria_dyliss_delete_exp', { 'exp_id': experiment.id }) }}" class="btn btn-danger" role="button">
                        Delete</a>

                        {# The validate button is deactivated if the user is and admin and if the experiment have the id 0 #}
                        {# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
                        {% if not is_granted('ROLE_ADMIN') or (experiment.id != 0) %}
                        <a href="{{ path('inria_dyliss_validate_exp', { 'exp_id': experiment.id }) }}" class="btn btn-success" role="button">
                        Validate</a>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
            </tbody>

        </table>

        <a class="btn btn-default" href="{{ path('inria_dyliss_create_exp') }}">Add a study</a>

	{% else %}
        <div class="alert alert-danger">
            <p>You must be registered as a {{ project_name }} user to use this tool. Please register or <a href="{ path('fos_user_security_login')  }}">login</a>.

            If you want to have more information about this tool, please see the <a href="{{ path('inria_dyliss_help') }}">help section</a>.
            </p>
        </div>
	{% endif %}
{% endblock %}
