{# app/Resources/views/InriaMainLayout.html.twig #}

{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ project_name }} Web Service{% endblock %}</title>

    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <!--<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inria_dyliss/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inria_dyliss/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inria_dyliss/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/inria_dyliss/css/styles.css') }}">
    {% endblock %}
</head>

<body>
    {% block header %}
    <div id="header" class="page-header">
        <div class="container">
        <h1>{{ project_name }} Web Service</h1>
        <p>This project is developped by the Dyliss team (Irisa/Inria Rennes).</p>
        </div>
    </div>
    {% endblock %}

    <div class="container">
        <div class="row">

            {% block menu %}
            {# navbar-inverse => white on black theme #}
             <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">{{ project_name }}</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <!--class="active"-->
                        <li>
                            <a href="{{ path('inria_dyliss_homepage') }}">
                            <span class="glyphicon glyphicon-home"></span> Homepage</a>
                        </li>
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('inria_dyliss_view_exp') }}">
                            <span class="glyphicon glyphicon-wrench"></span> Tool</a>
                        </li>
                        <li>
                            <a href="{{ path('inria_dyliss_view_result', { 'id': null }) }}">
                            <span class="glyphicon glyphicon-list"></span> Last results</a>
                        </li>

                            {% if is_granted('ROLE_ADMIN')%}
                            <li>
                                <a href="{{ path('inria_dyliss_view_admin') }}">
                                <span class="glyphicon glyphicon-cog"></span> Administration</a>
                            </li>
                            {% endif %}

                        {% endif %}
                        <li>
                            <a href="{{ path('inria_dyliss_help') }}">
                            <span class="glyphicon glyphicon-question-sign"></span> Help</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                    {% block auth_user %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                            <span class="glyphicon glyphicon-user"></span> Profile</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                            <span class="glyphicon glyphicon-log-out"></span> {{ 'layout.logout'|trans }} [{{app.user.username }}]</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                            <span class="glyphicon glyphicon-user"></span> {{ 'layout.register'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                            <span class="glyphicon glyphicon-log-in"></span> {{ 'layout.login'|trans }}</a>
                        </li>
                        {% endif %}
                    {% endblock %}
                    </ul>
                </div>
            </nav>

            {% endblock %}

            <div id="content">
                {# Use Bootstrap types: http://www.w3schools.com/bootstrap/bootstrap_alerts.asp
                    success, warning, info, danger #}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{ type|title }}!</strong> {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}
                {% endblock %}
            </div>

            <footer class="container-fluid text-center">
                {% block footer %}
                {# Number is the number of columns we want to span/12 http://www.w3schools.com/bootstrap/bootstrap_grid_system.asp #}
                <div class="row">
                    <div class="col-sm-2">
                        <a href="http://www.inria.fr/" target="_blank">
                        <img class="logo" alt="Inria logo" src="{{ asset('bundles/inria_dyliss/images/inria.svg') }}"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.univ-rennes1.fr/" target="_blank">
                        <img class="logo" alt="Rennes 1 University logo" src="{{ asset('bundles/inria_dyliss/images/univ_rennes_1.svg') }}"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://www.cnrs.fr/" target="_blank">
                        <img class="logo" alt="CNRS logo | " src="{{ asset('bundles/inria_dyliss/images/cnrs.svg') }}"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://www.irisa.fr/" target="_blank">
                        <img class="logo" alt="IRISA logo" src="{{ asset('bundles/inria_dyliss/images/irisa.png') }}"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://institut.inra.fr/" target="_blank">
                        <img class="logo" alt="INRA logo" src="{{ asset('bundles/inria_dyliss/images/inra.svg') }}"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://www6.toulouse.inra.fr/lipm" target="_blank">
                        <img class="logo" alt="Lipm logo" src="{{ asset('bundles/inria_dyliss/images/lipm.png') }}"></a>
                    </div>
                </div>
                {% endblock footer %}
            </footer>
        </div>
    </div>

    {% block javascript %}
    {# Bootstrap Twitter #}
    <script src="{{ asset('bundles/inria_dyliss/js/jquery-2.0.0.min.js') }}"></script>
    <script src="{{ asset('bundles/inria_dyliss/js/bootstrap.min.js') }}"></script>
    {% endblock %}

</body>
</html>