<h4>Study creation</h4>

<p><span class="text-bold">Source file:</span>
A SBML (Systems Biology Markup Language) file to standardize or a simple text file
with 1 identifier of metabolite/reaction on each line.
<br>
The fields in &#x3C;notes&#x3E; section of entities that are read from a
SBML are parsed with these regular expressions:
</p>
<ul>
    <li><pre>(&#x3C;html:p&#x3E;|&#x3C;p&#x3E;)(FORMULA): (.*)(&#x3C;/html:p&#x3E;|&#x3C;/p&#x3E;)</pre></li>
    <li><pre>(&#x3C;html:p&#x3E;|&#x3C;p&#x3E;)(EC Number|PROTEIN_CLASS|EC): (([0-9]{1,3}\.){3}[0-9]{1,4})(&#x3C;/html:p&#x3E;|&#x3C;/p&#x3E;)</pre></li>
</ul>
<p>
We also parse &#x3C;annotations&#x3E; sections written in RDF (Resource Description Framework)
with the help of libsbml and getCVTerms() function
(take a look at the documentation
<a href="http://sbml.org/Software/libSBML/docs/python-api/classlibsbml_1_1_c_v_term.html">here</a>
and
<a href="http://sbml.org/Software/libSBML/docs/python-api/classlibsbml_1_1_s_base.html">here</a>.
<br>
For example, all the following mappings are loaded in order to save manual work on good quality files:
</p>
<pre>
&#x3C;annotation&#x3E;
    &#x3C;rdf:RDF xmlns:rdf=&#x22;http://www.w3.org/1999/02/22-rdf-syntax-ns#&#x22; xmlns:bqbiol=&#x22;http://biomodels.net/biology-qualifiers/&#x22;&#x3E;
    &#x3C;rdf:Description rdf:about=&#x22;#M_10fthf_c&#x22;&#x3E;
        &#x3C;bqbiol:is&#x3E;
        &#x3C;rdf:Bag&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/bigg.metabolite/10fthf&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/biocyc/10-FORMYL-THF&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/11304&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/15637&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/19108&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/19109&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/reactome/419151&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/57454&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/chebi/698&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/brenda/BG36253&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/kegg.compound/C00234&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/hmdb/HMDB00972&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/unipathway.compound/UPC00234&#x22; /&#x3E;
            &#x3C;rdf:li rdf:resource=&#x22;http://identifiers.org/seed/cpd00201&#x22; /&#x3E;
        &#x3C;/rdf:Bag&#x3E;
        &#x3C;/bqbiol:is&#x3E;
    &#x3C;/rdf:Description&#x3E;
    &#x3C;/rdf:RDF&#x3E;
&#x3C;/annotation&#x3E;
</pre>

<p>
Moreover, we use the fbc plugin available on SBML level 3 files to take into account
the chemical formulas included in the definition of sbml species.
<br>
Here you will find an example of fields that we consider:
</p>
<pre>&#x3C;species name=&#x22;10-Formyltetrahydrofolate&#x22; fbc:chemicalFormula=&#x22;C20H21N7O7&#x22; id=&#x22;M_10fthf_c&#x22;&#x3E;</pre>



{{ include("INRIADylissBundle:Help:manual_mapping.html.twig") }}


<p><span class="text-bold">Source database (optional):</span>
In order to have a better processing of identifiers, you should select the source database
of your file/identifiers.
</p>


<p><span class="text-bold">Destination database:</span>
Here, you have to select the destination database of the new identifiers in the output file.
</p>
