<h3>FAQ</h3>

<div class="help_content">

<h4>Why my identifiers are renamed to a random string in the interface ?</h4>

<p>
An identifier have to be short and concise; this is what allows its referencement in databases like metacyc, BiGG or Kegg.
A name is a vague additional information to allow humans to know what they handle.
</p>

Consequently, these "identifiers" are not identifiers:
<pre>
S_Se_45_Adenosylselenomethionine_c
S_Se_45_Adenosylselenohomocysteine_c
</pre>

<p>
Sometimes when "identifiers" are too long (70 characters), they are truncated with a md5 checksum
(like '003fb3270430aaa8a935a2a13f1ea2b6') for performance reasons
and reasons of compliance with the definition of identifiers.
<br>
Please take a look to the further definition of SBML identifiers.
</p>


<h4>What is a SBML identifier?</h4>

<p>
According to the <a href="https://sourceforge.net/projects/sbml/files/specifications/" title="SBML documentation">SBML documentation</a>:

The type SId is the type of the id attribute found on the majority of SBML components.
SId is a data type derived from the basic XML type string,
but with restrictions about the characters permitted and the sequences in which those characters may appear.
[...]
Using ID would force all SBML identifiers to exist in a single global namespace,
affecting not only Reaction local parameter definitions but
also SBML packages for (e.g.) hierarchical model composition.
</p>

Here is the charset of a SBML identifier:

<ul>
<li>letters: 'a'..'z', 'A'..'Z'</li>
<li>digits: '0'..'9'</li>
<li>id is a sequence of this pattern (underscore is allowed): letter or digit or '_'</li>
</ul>

<p>
Please take a look at the method explaining how to encode IDs.
</p>


<h4>How can i properly encode my identifiers ?</h4>

<p>
{{ project_name }} uses Python module developed for this purpose.
A version of this module can be found at <b>update me</b>.
Feel free to suggest changes !
</p>



</div>
