{# src/INRIA/DylissBudle/Resources/view/Home/index.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Help
{% endblock %}

{% block inriadyliss_body %}

    <h1>Help</h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# Authenticated user #}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}


        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

        <a href=" {{ asset('../../documentation/') }}">
        <span class="glyphicon glyphicon-book"></span> Documentation for administrators & developpers.
        </a>


        {% endif %}

    {% endif %}

    {{ include("INRIADylissBundle:Help:interface.html.twig") }}
    {{ include("INRIADylissBundle:Help:matching_methods.html.twig") }}
    {{ include("INRIADylissBundle:Help:faq.html.twig") }}
    {{ include("INRIADylissBundle:Help:licenses.html.twig") }}
    {{ include("INRIADylissBundle:Help:authors.html.twig") }}


{% endblock %}