<p><span class="text-bold">Manual mapping file (optional):</span>
A CSV (Comma-separated values) file that provides a pre-mapping that you would like
to insert in the study in order to save time. This file must be comma or tabulation separated,
and must have specific headers.
You do not have to specify whether it is metabolites or reactions (see the example below).
<br>
Example:
</p>

<pre>SOURCE  DESTINATION FORMULA ECNUMBER
metab1  metab2      C6H12O6
reac1   reac2               1.2.3.4</pre>


<p>Note:
Please note that metabolites may have a formula which is not the case of reactions.
Using the same logic, reactions are the only entities that have an EC number.
</p>