<h3>Matching methods</h3>

<div class="help_content">

<h4>Community matching</h4>
<p>
This method uses equivalencies that are not in reference databases but that users of the platform have validated before you.
When you click on the green button "Validate" on the page dedicated to the gestion of Studies, your manual mappings
are recorded and submitted to administrators.
</p>

Two scores are incremented during these steps.
<ul>
<li>T: Number of validations made by trusted users;</li>
<li>C: Number of validations made by community.</li>
</ul>


<h4>Reference database</h4>

<img class="schema" alt="Reference database schema" src="{{ asset('bundles/inria_dyliss/images/help/reference_database.png') }}">
<p>
The IDs of Metabolites and Reactions are taken from SBML file and searched in a reference database.
This is a very effective method when equivalencies are already known and when the identifiers are not changed or created by users.
With this method {{ project_name }} takes advantage of the reunion of several databases like MetaCyc and MetaNetX.
</p>


<h4>Exact/inferred name matching</h4>

<img class="schema" alt="Name matchinf schema" src="{{ asset('bundles/inria_dyliss/images/help/name_matching.png') }}">
<p>
The names of Metabolites (only, for instance) are taken from SBML file.
This method is useful when IDs are modified or not referenced in an official database.

Names are queried in an index of standardized names referenced in a reference database.
</p>

A score is used to facilitate sorting of equivalencies and accelerate the user guidance.
<ul>
<li>Similarity = 1: The names are the same, and that strict equivalencies are created;</li>
<li>Similarity ∈ [0.8; 1]: Similar names but equivalencies are uncertain/multiple; this step requires a manual user validation;</li>
<li>Similarity &lt;0.8: Equivalencies are not displayed because names are too different.</li>
</ul>


<h4>Reaction matching</h4>
<img class="schema" alt="Reaction matching schema" src="{{ asset('bundles/inria_dyliss/images/help/reaction_matching.png') }}">
<p>
All reactions that have a mapping for all their metabolites are processed.
</p>

A score is calculated on several characteristic attributes of a reaction.
<ul>
<li>Name: Same method than "Exact/inferred name matching";</li>
<li>EC number: Classification of enzymes is used;</li>
<li>Reactants: Considered as groups of products and reagents.</li>
</ul>

Then, scores are merged in an overall score masked with three letters and a color code on the interface to identify its composition.
<ul>
<li><span class="score_ok">R</span>: Reactants' similarity score is significant;</li>
<li><span class="score_ok">N</span>: Names' similarity score is significant;</li>
<li><span class="score_ok">E</span>: EC numbers' similarity score is significant.</li>
</ul>

</div>


