<h4>Results</h4>

<img class="schema" alt="Results screen" src="{{ asset('bundles/inria_dyliss/images/help/results.png') }}">
<p>
After the creation of a study, a user arrives on a page like the above;
A control panel in area A includes all matching methods offered by the platform
and provides a quick overview of the progress of the conversion process.
These methods can be called iteratively; i.e in any order, to progress the work.
<br>
List of equivalencies is in area B; the user can validate or invalidate all of them from this interface.
There are three tabs with the list of equivalences already made, proposed and remaining.
</p>
