{# src/INRIA/DylissBudle/Resources/view/Experiment/index.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Administration
{% endblock %}

{% block inriadyliss_body %}
    {% if is_granted('ROLE_ADMIN') %}

        <h2>Administration</h2>

        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h3>Miscellaneous</h3>
                <p class="text-bold">Delete orphaned objects &amp; run the garbage-collector:</p>
                <a href="{{ path('inria_dyliss_vacuum') }}" class="btn btn-danger" role="button">Vaccum</a>

                <hr>

                <p class="text-bold">Restart Matching-kernel service</p>
                <a href="{{ path('inria_dyliss_services', { 'action': 'restart_matching_kernel' }) }}" class="btn btn-danger" role="button">Restart</a>

                <hr>

                <p class="text-bold">Sync the project with the GitLab</p>
                <a href="{{ path('inria_dyliss_update' ) }}" class="btn btn-danger" role="button">Sync</a>

            </div>

            <div class="col-sm-6"><!--well well-sm-->

                {{ form_start(form, { 'action': path('inria_dyliss_view_admin'), 'attr': {
                'role': 'form'} }) }}

                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_errors(form.numberExperiments) }}
                        {{ form_label(form.numberExperiments) }}
                        {{ form_widget(form.numberExperiments, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}

                    {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>

        </div>

        <br>

        <div class="row">
            <div class="col-sm-6">
                <h3>Backup tasks</h3>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'backup_postgresql' }) }}" class="btn btn-danger" role="button">Backup PostgreSQL database</a>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'backup_mongo' }) }}" class="btn btn-danger" role="button">Backup MongoDB database</a>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'backup_web' }) }}" class="btn btn-danger" role="button">Backup user files</a>

                <h3>Restore tasks</h3>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'restore_postgresql' }) }}" class="btn btn-danger" role="button">Restore PostgreSQL database</a>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'restore_mongo' }) }}" class="btn btn-danger" role="button">Restore MongoDB database</a>
                <a href="{{ path('inria_dyliss_databases', { 'action': 'restore_web' }) }}" class="btn btn-danger" role="button">Restore user files</a>
            </div>
        </div>

    {% else %}
        <div class="alert alert-danger">
            <p>You must be registered as a {{ project_name }} user to use this tool. Please register or <a href="{ path('fos_user_security_login')  }}">login</a>.

            If you want to have more information about this tool, please see the <a href="{{ path('inria_dyliss_help') }}">help section</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}
