{# src/INRIA/DylissBudle/Resources/view/Result/index.html.twig #}

{% extends "INRIADylissBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Results
{% endblock %}

{% block inriadyliss_body %}
    {% if is_granted('ROLE_USER') %}

        {{ render(controller("INRIADylissBundle:Menu:menu", { 'exp_id': exp_id })) }}
        <a href="#" id="toTop" class="btn btn-default">To Top</a>

        <h2>Results</h2>

        {# We activate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
        <div id="alerts">
            {% if (exp_id != '') and (exp_id == 0) %}
            <div class="alert alert-danger">
                <strong>Pay attention please!</strong>
                <p>It is the ultimate study here; Possessed by an administrator only.
                You can not establish matches here, but you can view or delete associations with the status "Validation".
                </p>
            </div>
            {% endif %}
        </div>

        <ul class="nav nav-tabs nav-justified">
            <li id="matched_tab" class="active"><a data-toggle="tab" href="#matched_content">Already matched</a></li>
            {# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
            {% if (exp_id != '') and (exp_id != 0) %}
            <li id="proposal_tab"><a data-toggle="tab" href="#proposal_content">Proposal</a></li>
            {% endif %}
            <li id="tobematched_tab"><a data-toggle="tab" href="#tobematched_content">To be matched</a></li>
            <!--<li><a data-toggle="tab" href="#cancelled">Cancelled</a></li>-->
        </ul>
        <br>
        <div class="tab-content">
            <div id="matched_content" class="tab-pane fade in active"></div>
            <div id="proposal_content" class="tab-pane fade"></div>
            <div id="tobematched_content" class="tab-pane fade"></div>
        </div>

        <!-- Modal -->
        <div id="modal_window" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Info</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please wait during the computation.<br>
                        This may take some time.</p>
                    </div>
                </div>

            </div>
        </div>


    {% else %}

        <div class="alert alert-danger">
            <p>You must be registered as a {{ project_name }} user to use this tool. Please register or <a href="{ path('fos_user_security_login')  }}">login</a>.

            If you want to have more information about this tool, please see the <a href="{{ path('inria_dyliss_help') }}">help section</a>.
            </p>
        </div>
    {% endif %}
{% endblock %}


{% block javascript %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') %}
    {# Chart.js library #}
    <script src="{{ asset('bundles/inria_dyliss/js/Chart.min.js') }}"></script>
    {# All animations + tabs #}
    <script>
$(document).ready(function(){
    // Code isolation by Immediately Executed Functions
    // Avoid code execution before the complete loading of all elements in the page
    // jQuery code; here only please !

    // Tabs management ////////////////////////////////////////////////////////

    function updateDataTab(tab) {
        // Update the tab which has the given name
        // Get data about the given clicked tab via Ajax
        // Replace tab content with content generated by ResultController
        // Please note: the string in 'tab' variable MUST be standardized for a correct routing by Symfony
        // Authorized names: matched, proposal, tobematched
        // PS: Names are obtained by substr '_tab' from the id of <li> tag

        // Get the id of the content tab
        var contentId = getContentId(tab);

        // Warning for the user
        $(contentId).html('<p class="alert alert-info">Loading, please wait...</p>');

        // Forge URL & make the request
        var ajax_url = "{{ path('inria_dyliss_getdatatab') }}/{{ exp_id }}_" + tab;

        $.ajax({
                type : "GET",
                url : ajax_url,
                timeout : 20000,
                success : function (response) {
                        //console.log(response);
                        $(contentId).html(response);

                        // Display & init tooltips on similarity scores
                        $('[data-toggle="tooltip"]').tooltip();
                        },
                error : function (response, status, error){
                        $(contentId).html('<p class="alert alert-danger">Ajax error on ' + ajax_url + ':<br>' + error + '</p>');
                        //response.responseText
                },
        });
        /*
        http://blog.teamtreehouse.com/how-to-code-sortable-tabular-data-with-jquery
        http://tablesorter.com/docs/index.html*/
    }

    function getContentId(tab) {
        // Get id of the content tab according to a standardize keyword
        /* Table of tab names <=> ids:
            matched: "#matched_content",
            proposal: "#proposal_content",
            tobematched: "#tobematched_content",
        */
        var tabs = {
            // iterate on keys (standardized id of tabs are values)
            {% for tab_var, tab_id in authorized_tabs %}
                {{ tab_var }}: "{{ tab_id }}",
            {% endfor %}
        };
        return tabs[tab];
    }

    // Add onclick events on tabs
    // PS: Each click generates a query
    $("#matched_tab").click(function(){
        updateDataTab('matched');
    });
    $("#proposal_tab").click(function(){
        updateDataTab('proposal');
    });
    $("#tobematched_tab").click(function(){
        updateDataTab('tobematched');
    });


    // Associations management ////////////////////////////////////////////////

    // Remove an association
    $('.tab-content div').on('click', '.remove_button', function(e) {
        // Get click event on '.remove_button' in tabs
        // Hide selected association
        // PS: Possible to put multiples selectors on delegates (cf .remove_button)

        // Event is propagated from <span> tag => we want the closest <tr> element
        var $assoc_block = $( e.target ).closest('tr');
        $assoc_block.hide();

        // The next association with an invisible id is the future main equivalence for this id
        // => we want to display it
        // Get elemnt <tr> next this one
        var $next_assoc_block = $assoc_block.next();

        // If the first child (<td>) of the element (<tr>) has not the "invisible" class, we stop here.
        // If the next element has an invisible td, and the current element has not an invisible td,
        // the next element will have a visible td
        if (($next_assoc_block != null) &&
            ($next_assoc_block.children().first().hasClass("invisible") == true) &&
            ($assoc_block.children().first().hasClass("invisible") == false)) {
            // If the first child (<td>) of the element (<tr>) has the "invisible" class
            // we remove the class (unmask the block) and go to the next element
            //$next_assoc_block.children().first().css("background", "red");
            $next_assoc_block.children().first().removeClass("invisible");
        }

        ///////////////////////////////////////////////////////////////////////

        // Event is propagated from <span> tag => we want the id of the parent
        // (i.e the association id)
        var assoc_id = $(e.target).parent().attr('id');
        //$( e.target ).closest('a').attr('id');

        // Forge URL & make the request to the API
        var ajax_url = "{{ path('inria_dyliss_delete_assoc') }}/{{ exp_id }}_" + assoc_id;

        $.ajax({
                type : "GET",
                url : ajax_url,
                timeout : 20000,
                success : function (response) {
                        //console.log(response);

                        // We have to actualize the tab where the association was before the suppression.
                        // We get the closest element with the class 'active' => it's the tab's content.
                        // Get the id, & remove '_content' => we have the parameter of updateDataTab()
                        //updateDataTab($( e.target ).closest('.active').attr('id').replace('_content', ''));
                        updateChart();
                        },
                error : function (response, status, error){
                        $('#matched_content').html('<p class="alert alert-danger">Ajax error on ' + ajax_url + ':<br>' + error + '</p>');
                        //response.responseText
                },
        });

        // Disallow default action on clicked links
        // Cf preventDefault() ?
        return false;
    });

    // Validate an association
    $('.tab-content div').on('click', '.validate_button', function(e) {
        // Get click event on '.validate_button' in tabs
        // This func is called only on proposal tab
        // PS: Possible to put multiples selectors on delegates (cf .validate_button)

        // Hide selected association
        // Event is propagated from <span> tag => we want the closest <tr> element
        var $assoc_block = $( e.target ).closest('tr');
        $assoc_block.hide();

        // All the next associations with an invisible id are multiple equivalenies for this id
        // => we want to hide them
        // Get all elements <tr> next this one
        $assoc_block.nextAll().each(function(/*index*/) {

            // If the first child (<td>) of the element (<tr>) has not the "invisible" class, we stop here.
            if ($(this).children().first().hasClass("invisible") == true) {

                // If the first child (<td>) of the element (<tr>) has the "invisible" class
                // we mask the entier block (<tr>)
                //$(this).children().first().css("background", "red");
                $(this).hide();
            } else {
                // Visible => nothing to do => we exit from the loop
                return false;
            }

        });


        // If the <td> of the current element is invisible, we must mask all the antecedents
        // that are multiple equivalencies of the same id
        if ($assoc_block.children().first().hasClass("invisible") == true) {

            $assoc_block.prevAll().each(function(/*index*/) {

                $(this).hide();

                // If the first child (<td>) of the element (<tr>) has not the "invisible" class,
                // we stop here because it is the first equivalence of the same id
                if ($(this).children().first().hasClass("invisible") == false) {

                    // Visible => exit
                    return false;
                }
            });
        }

        ///////////////////////////////////////////////////////////////////////

        // Event is propagated from <span> tag => we want the id of the parent
        // (the association id)
        var assoc_id = $(e.target).parent().attr('id');
        //$( e.target ).closest('a').attr('id');

        // Forge URL & make the request to the API
        var ajax_url = "{{ path('inria_dyliss_validate_assoc') }}/{{ exp_id }}_" + assoc_id;

        $.ajax({
                type : "GET",
                url : ajax_url,
                timeout : 20000,
                success : function (response) {
                        //console.log(response);
                        //updateDataTab('proposal');
                        updateChart();
                        },
                error : function (response, status, error){
                        $('#proposal_content').html('<p class="alert alert-danger">Ajax error on ' + ajax_url + ':<br>' + error + '</p>');
                        //response.responseText

                        // Update the tab and print the flashbag content
                        updateDataTab('proposal');
                },
        });

        // Disallow default action on clicked links
        // Cf preventDefault() ?
        return false;
    });


    // Control panel management ///////////////////////////////////////////////

    // Add onclick events on radiobuttons of the control panel
    // Update urls according to the biological object type selected by the user
    $(".select_bio_obj input[name='optradio']").click(function(){
        // Modified elements: #exact_name_matching, #inferred_name_matching, #samir_matching

        if($('input:radio[name=optradio]:checked').val() == "reaction") {
            // Reactions
            //console.log("reaction");
            $("#exact_name_matching").attr(
                "href",
                $("#exact_name_matching").attr("href").replace('metabolite', 'reaction')
            );
            $("#inferred_name_matching").attr(
                "href",
                $("#inferred_name_matching").attr("href").replace('metabolite', 'reaction')
            );
            // Remove temporary other methods than SAMIR
            $("#samir_matching").show();
            $("#exact_name_matching").hide();
            $("#inferred_name_matching").hide();
        } else {
            // Metabolites
            //console.log("metabolite");
            $("#exact_name_matching").attr(
                "href",
                $("#exact_name_matching").attr("href").replace('reaction', 'metabolite')
            );
            $("#inferred_name_matching").attr(
                "href",
                $("#inferred_name_matching").attr("href").replace('reaction', 'metabolite')
            );
            // Display other methods than SAMIR
            $("#samir_matching").hide();
            $("#exact_name_matching").show();
            $("#inferred_name_matching").show();
        }
    });

    // Add onclick events on links of the control panel
    // Disable all links during a computation until the page is reloaded
    $(".panel-body a").click(function(){
        $(".panel-body a").toggleClass("disabled");
        return true;
    });

    // Chart for progress and stats
    function updateChart() {

        // Forge URL & make the request
        var ajax_url = "{{ path('inria_dyliss_get_statistics') }}/{{ exp_id }}";

        $.ajax({
                type : "GET",
                url : ajax_url,
                timeout : 100000,
                success : function (response) {
                        //console.log(response);
                        // Eval the javascript response
                        eval(response);
                        //console.log(data_stats);

                        // Chart.js config
                        var options = {
                            maintainAspectRatio: false,
                            //responsive: true
                        };

                        // Chart update
                        var mini_pie_ctx = document.getElementById("mini_pie").getContext("2d");
                        var mini_pie = new Chart(mini_pie_ctx).Pie(data, options);

                        // mini_stats update
                        var html_content = '<p>';
                        for (var key in data_stats)
                        {
                            //console.log(data_stats[key].toString());
                            html_content += key + ': ' + data_stats[key] + '%<br>';
                        }
                        html_content += '</p>';

                        $('#mini_stats').html(html_content);
                },
                error : function (response, status, error){
                        $('#proposal_content').html('<p class="alert alert-danger">Ajax error on ' + ajax_url + ':<br>' + error + '</p>');
                        //response.responseText
                },
        });
    }

    // Default display /////////////////////////////////////////////////////
    // Disable samir_matching
    // This block is enabled only when Reactions are checked
    $("#samir_matching").hide();

    // Sync page (chart and tab) with "Already matched" association's state !
    updateDataTab('matched');
    updateChart();

});
    </script>
    {% endif %}
{% endblock %}