{# src/INRIA/DylissBundle/Resources/views/Result/matched_table.html.twig #}

    {# Raw flashbag #}
    {{ include("INRIADylissBundle:Result:raw_flashbag.html.twig") }}

    <p>Matched compounds:</p>

    {% if association_list|length == 0 %}
    <p class="alert alert-danger">No matching found yet.</p>
    {% else %}

    {{ include("INRIADylissBundle:Result:mini_download_bar.html.twig") }}

    <!--<div class="panel-group">-->
    <table class="table table-striped panel panel-primary">

        <thead class="panel-heading">
            <tr class="text-bold">
                <td class="col-sm-4">Source compound</td>
                <td class="col-sm-4">Destination compound</td>
                <td class="col-sm-1 text-center">Similarity &amp; Score</td>
                <td class="col-sm-2 text-center">Matching method</td>
                <td class="col-sm-1 text-center">Action</td>
            </tr>
        </thead>

        <tbody class="panel-body">
        {% for association in association_list %}
            <tr>
                {# Hide redondant sucessive ids #}
                {% if (loop.index0 == 0) or (association_list[loop.index0 - 1].src.id != association.src.id) %}
                <td>
                {% else %}
                <td class="invisible">
                {% endif %}

                    <div class="text-bold">{{ association.src.id }}
                        {% if src_db_prefix != null %}
                        <a href="{{ src_db_prefix }}{{ association.src.id }}" target="_blank">
                            <span class="ui-icon ui-icon-info action-button"></span>
                        </a>
                        {% endif %}
                    </div>
                    <p><span class="text-bold">Names:</span> {% for name in association.src.names %}
                                    {% if loop.last %}{{ name }}{% else %}{{ name }};<br> {% endif %}
                               {% endfor %}<br>
                    {% if association.src.formula is defined %}
                    <span class="text-bold">Formula:</span> {{ association.src.formula }}<br>
                    {% else %}
                    {# "products":["12ppd__S"],"reagents":["12ppd__S"]} #}

                        <span class="text-bold">Products:</span><br>

                        {% for name in association.src.products %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                        <br>
                        <span class="text-bold">Reagents:</span><br>
                        {% for name in association.src.reagents %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                        <br>

                    {% endif %}
                    <span class="text-bold">Origin:</span> {{ association.src.origin }}

                </td>
                <td>
                    <div class="text-bold">{{ association.dst.id }}
                        <a href="{{ dst_db_prefix }}{{ association.dst.id }}" target="_blank">
                            <span class="ui-icon ui-icon-info action-button"></span>
                        </a>
                    </div>
                    <p><span class="text-bold">Names:</span> {% for name in association.dst.names %}
                                    {% if loop.last %}{{ name }}{% else %}{{ name }};<br> {% endif %}
                               {% endfor %}<br>
                    {% if association.dst.formula is defined %}
                    <span class="text-bold">Formula:</span> {{ association.dst.formula }}<br>
                    {% else %}
                    {# "products":["12ppd__S"],"reagents":["12ppd__S"]} #}

                        <span class="text-bold">Products:</span><br>

                        {% for name in association.dst.products %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                        <br>
                        <span class="text-bold">Reagents:</span><br>
                        {% for name in association.dst.reagents %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                        <br>

                    {% endif %}
                    <span class="text-bold">Origin:</span> {{ association.dst.origin }}
                </td>
                <td class="text-center">
                {% if association.sim_score != 0 %}
                    {% if association.dst.formula is defined %}
                        <span data-toggle="tooltip" title="Names' similarity score.">S: {{ association.sim_score }}</span><br>
                    {% else %}

                        {# Here we format the mask given by Samir method #}
                        {% if association.sim_score >= 4 %}
                            <span class="score_ok" data-toggle="tooltip" title="Reactants' similarity score is significant.">R</span>
                        {% else %}
                            <span class="score_deactivated" data-toggle="tooltip" title="Reactants' similarity score is lower than the threshold.">R</span>
                        {% endif %}
                        {% if association.sim_score in [2,3,6,7] %}
                            <span class="score_ok" data-toggle="tooltip" title="Names' similarity score is significant.">N</span>
                        {% else %}
                            <span class="score_deactivated" data-toggle="tooltip" title="Names' similarity score is lower than the threshold.">N</span>
                        {% endif %}
                        {% if association.sim_score in [1,3,5,7] %}
                            <span class="score_ok" data-toggle="tooltip" title="EC numbers' similarity score is significant.">E</span>
                        {% else %}
                            <span class="score_deactivated" data-toggle="tooltip" title="EC numbers' similarity score is lower than the threshold.">E</span>
                        {% endif %}
                        <br>

                    {% endif %}

                    {# Scores are displayed for all methods #}
                    <span data-toggle="tooltip" title="Number of validations by trusted users.">T: {{ association.validation_community }}</span><br>
                    <span data-toggle="tooltip" title="Number of validations by non-trusted users.">C: {{ association.validation_trusted }}</span>

                {# end of condition is here because i choose to not display community scores on matched tab; this is not the case on proposal tab #}
                {% endif %}
                </td>
                <td class="text-bold text-center">{{ association.step }}</td>
                <td class="text-center">
                    <a id="{{ association.id }}" class="remove_button" href="#" title="Remove association">
                        <span class="ui-icon ui-icon-circle-close action-button"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% endif %}