{# src/INRIA/DylissBudle/Resources/view/Result/menu.html.twig #}

{% if is_granted('ROLE_USER') %}

    <div id="dashboard" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Dashboard</h3>
        </div>

        <div class="panel-body">
            <canvas id="mini_pie" height="70"></canvas>
            <div id="mini_stats"></div>

            {# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
            {% if exp_id != 0 %}
            <div class="panel-control">

                <div class="form-group">
                    <label>Automatic matching</label>
                    <br>
                    <a id="exact_identifier_matching" class="btn btn-default" role="button" href="{{ path('inria_dyliss_exp_menu_exact_id_matching') }}/{{ exp_id }}" title="Exact identifier matching">
                        <span class="glyphicon glyphicon-transfer"> Reference database</span>
                    </a>

                    <a id="validated_associations" class="btn btn-default" role="button" href="{{ path('inria_dyliss_exp_menu_get_in_validation') }}/{{ exp_id }}" title="Validated associations">
                        <span class="glyphicon glyphicon-transfer"> Community matching</span>
                    </a>
                </div>


                <div class="form-group select_bio_obj">
                    <label>Matching for:</label>
                    <br>
                    <div class="radio_btn">
                        <label class="radio-inline">
                            <input id="default_radio_btn" type="radio" name="optradio" value="metabolite" checked="checked"> Metabolites
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" value="reaction"> Reactions
                        </label>
                    </div>

                    <!-- data-toggle="modal" data-target="#modal_window" -->
                    <a id="exact_name_matching" class="btn btn-default" role="button" href="{{ path('inria_dyliss_exp_menu_name_matching') }}/{{ exp_id }}_exact_metabolite" title="Exact name matching">
                        <span class="glyphicon glyphicon-transfer"> Exact matching</span>
                    </a>

                    <a id="inferred_name_matching" class="btn btn-default" role="button" href="{{ path('inria_dyliss_exp_menu_name_matching') }}/{{ exp_id }}_inferred_metabolite" title="Inferred name matching">
                        <span class="glyphicon glyphicon-transfer"> Inferred matching</span>
                    </a>

                    <a id="samir_matching" class="btn btn-default" role="button" href="{{ path('inria_dyliss_exp_menu_samir_matching') }}/{{ exp_id }}" title="Samir">
                        <span class="glyphicon glyphicon-transfer"> Samir</span>
                    </a>
                </div>

            </div>

            <div class="form-group">
                <label for="log">Logs:</label>
                <textarea readonly class="form-control" rows="5" id="log">{{ log }}</textarea>
                <a class="btn btn-default" href="{{ path('inria_dyliss_exp_menu_download_logfile', { 'exp_id': exp_id }) }}">Download logfile</a>
            </div>
            {% endif %}
        </div>
    </div>

{% else %}

    <div class="alert alert-danger">
        <p>You must be registered as a {{ project_name }} user to use this tool. Please register or <a href="{ path('fos_user_security_login')  }}">login</a>.

        If you want to have more information about this tool, please see the <a href="{{ path('inria_dyliss_help') }}">help section</a>.
        </p>
    </div>
{% endif %}