{# src/INRIA/DylissBundle/Resources/views/Result/mini_download_bar.html.twig #}

<a class="btn btn-link" role="button" download="{{ exp_id }}_{{ tab_name }}.json" href="{{ path('inria_dyliss_getdatatab') }}/{{ exp_id }}_{{ tab_name }}/json" title="Download in JSON format">
        <span class="glyphicon glyphicon-download-alt"> JSON</span>
</a>
<a class="btn btn-link" role="button" download="{{ exp_id }}_{{ tab_name }}.csv" href="{{ path('inria_dyliss_getdatatab') }}/{{ exp_id }}_{{ tab_name }}/csv" title="Download in CSV format">
    <span class="glyphicon glyphicon-download-alt"> CSV</span>
</a>

{# We deactivate this block for experiment that only the admin can view (the experiment which lists validated associations) #}
{% if tab_name == "matched" and exp_id != 0 %}
<a class="btn btn-link" role="button" download="{{ exp_id }}_{{ tab_name }}.sbml" href="{{ path('inria_dyliss_getdatatab') }}/{{ exp_id }}_{{ tab_name }}/sbml" title="Download in SBML format">
    <span class="glyphicon glyphicon-download-alt"> Reconstructed SBML</span>
</a>
{% endif %}