{# src/INRIA/DylissBundle/Resources/views/Result/raw_flashbag.html.twig #}

    {# Use Bootstrap types: http://www.w3schools.com/bootstrap/bootstrap_alerts.asp
        success, warning, info, danger
       PS: We prevent the action of {% autoescape %} bloc for flashbag messages with the 'raw' filter.
    #}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ type|title }}!</strong> {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}