{# src/INRIA/DylissBundle/Resources/views/Result/tobematched_table.html.twig #}

    {# Raw flashbag #}
    {{ include("INRIADylissBundle:Result:raw_flashbag.html.twig") }}

    <p>Compounds that still need to be matched:</p>

    {% if association_list|length == 0 %}
    <p class="alert alert-danger">No matching found yet.</p>
    {% else %}

    {{ include("INRIADylissBundle:Result:mini_download_bar.html.twig") }}

    <!--<div class="panel-group">-->
    <table class="table table-striped panel panel-primary">

        <thead class="panel-heading">
            <tr class="text-bold">
                <td class="col-sm-3 text-center">Identifier</td>
                <td class="col-sm-5 text-center">Names</td>
                <td class="col-sm-4 text-center">Formula</td>
            </tr>
        </thead>

        <tbody class="panel-body">
        {% for association in association_list %}
            <tr>
                <td class="text-bold">{{ association.src.id }}
                    {% if src_db_prefix != null %}
                    <a href="{{ src_db_prefix }}{{ association.src.id }}" target="_blank">
                        <span class="ui-icon ui-icon-info action-button"></span>
                    </a>
                    {% endif %}
                </td>
                <td class="text-bold">
                    {% for name in association.src.names %}{% if loop.last %}{{ name }}{% else %}{{ name }};<br> {% endif %}{% endfor %}</td>
                {% if association.src.formula is defined %}
                    <td class="text-bold">{{ association.src.formula }}</td>
                {% else %}
                {# "products":["12ppd__S"],"reagents":["12ppd__S"]} #}

                    <td>
                    <span class="text-bold">Products:</span><br>

                    {% for name in association.src.products %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                    <br>
                    <span class="text-bold">Reagents:</span><br>
                    {% for name in association.src.reagents %}{% if loop.last %}{{ name }}{% else %}{{ name }}, {% endif %}{% endfor %}
                    </td>

                {% endif %}

            </tr>
        {% endfor %}
        </tbody>

    </table>
    {% endif %}